<div class="user-details">
  <h1> 𝘉𝑒𝘴𝑡 𝑊𝘰𝑟𝘬𝑠 </h1>
<div class="user-projects">
  <div class="images-left">
    <img alt="kabir" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Coming Soon</p>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> <!-- Link to your CSS file -->
</head>
<body>

<!-- Your HTML content goes here -->
<!-- Inspiration: https://dribbble.com/shots/4397812-Click-Me -->

<a href="#" class="cta">
  <span>Click me</span>
  <svg width="13px" height="10px" viewBox="0 0 13 10">
    <path d="M1,5 L11,5"></path>
    <polyline points="8 1 12 5 8 9"></polyline>
  </svg>
</a>
</body>
</html>
  </div>
</div>
