<div class="user-details">
  <h1> 𝘉𝑒𝘴𝑡 𝑊𝘰𝑟𝘬𝑠 </h1>
  <div class="user-projects">
    <div class="images-left">
      <video autoplay loop muted playsinline>
        <source src="{{ "/assets/video/video.mp4" | prepend: site.baseurl }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="contents-right">
      <h3> Project Title </h3>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Coming Soon</p>
      <a class="project-link" href="https://github.com/kabir0104k/CyberSecurity_ROADMAP" target="_blank">Check it out</a>
    </div>
  </div>
</div>
